body {
    background-color: #f8f8f8;
}

.book-library {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* This will allow books to wrap to the next line */
}

.book {
    border: 1px solid #ddd; /* Add a light border */
    margin: 10px; /* Space between books */
    padding: 10px;
    text-align: center; /* Center the text */
}

.author {
    color: #777777;
}

.price {
    color: #2ecc71;
}